/* Common styles */
body {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 58% 52% 53% 57% / 50% 53% 57% 50%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.form-label {
  text-align: left;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  body {
    width: 100vw;
    height: 100vh;
  }
  .background-radial-gradient {
    background-size: cover;
  }
  #radius-shape-1,
  #radius-shape-2 {
    display: none; /* Hide shapes on smaller screens */
  }
}

@media screen and (min-width: 768px) {
  /* Adjustments for larger screens */
  body {
    width: 100vw;
    height: 100vh;
  }
  .background-radial-gradient {
    background-size: contain;
  }
}
